$small-width: 31%
$big-width: 38%

body
	margin: 0
	display: flex
	flex-wrap: wrap
	min-height: 100vh

	section
		min-height: 50%
		background-size: 100%

		&.big-width
			min-width: $small-width + $big-width

		&.middle-width
			min-width: $big-width

		&.small-width
			min-width: $small-width

		&.main-screen
			background-color: #f1f1f1

		&.menu-screen
			background-color: #7acec3

		&.project-screen
			background-color: #ebb240

		&.menu-screen,
		&.project-screen
			background-image: linear-gradient(to bottom right, transparent calc(50% - .5px), #fff, transparent calc(50% + .5px))

		&.item-screen
			background: #fff

			&.grey
				background-color: #dfe0d9

		&.main-screen,
		&.fondue,
		&.plotter,
		&.armchair
			background-repeat: no-repeat

		&.main-screen
			background-image: url('../img/chair.png')

		&.fondue
			background-image: url('../img/lamp.png')

		&.plotter
			background-image: url('../img/plotter.png')

		&.armchair
			background-image: url('../img/arcmchair.png')

		img
			max-height: 100%

		@media screen and (max-width: 992px)
			height: 50vh

			&.big-width,
			&.middle-width,
			&.small-width
				width: 50%

			&.main-screen,
			&.item-screen,
			&.items-block
				width: 100%

			&.items-block
				display: flex

				&.item-screen
					width: 50%

		@media screen and (max-width: 576px)
			min-height: 50vh

			&.big-width,
			&.middle-width,
			&.small-width
				width: 100%

			&.main-screen,
			&.items-block
				height: 100vh

			&.items-block
				flex-direction: column