a {
  text-decoration: none;
  color: unset;
  transition: 0.3s; }
  a.arrow_w, a.arrow_y {
    position: relative; }
    a.arrow_w:before, a.arrow_y:before {
      position: absolute;
      left: -27.66px;
      top: 0;
      width: 100%;
      height: 100%;
      background: url("../img/icons/arrow_icon_w.png") no-repeat; }
    a.arrow_w:hover, a.arrow_y:hover {
      color: #000; }
      a.arrow_w:hover:before, a.arrow_y:hover:before {
        content: ""; }
  a.arrow_y:before {
    background: url("../img/icons/arrow_icon_y.png") no-repeat; }

h1 {
  margin: 0; }

h2 {
  margin: 5% 0; }

body {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  font-family: "Roboto Condensed"; }
  body section {
    background-size: 100%; }
    body section.big-width, body section.middle-width, body section.small-width {
      width: 100%; }
    body section.big-width {
      max-width: 69%; }
    body section.middle-width {
      max-width: 38%; }
    body section.small-width {
      max-width: 31%; }
    body section.main-screen {
      background-color: #f1f1f1;
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: 18px;
      color: #393d3c; }
      body section.main-screen .logo {
        display: flex;
        flex-direction: column; }
      body section.main-screen .social {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 3em;
        padding: 0 1em; }
      body section.main-screen img {
        max-width: 100%; }
    body section.menu-screen {
      background-color: #7acec3;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: start; }
      body section.menu-screen .menu-button {
        margin-top: 10%;
        position: relative; }
        body section.menu-screen .menu-button label {
          width: 6em;
          height: 6em;
          border: 3px solid #fff;
          cursor: pointer;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          transition: 0.3s; }
          body section.menu-screen .menu-button label span {
            margin: 3px 0;
            width: 3em;
            height: 3px;
            display: block;
            background: #fff;
            transition: 0.3s; }
          body section.menu-screen .menu-button label:hover {
            border-color: #f8c255; }
            body section.menu-screen .menu-button label:hover span {
              background: #f8c255; }
        body section.menu-screen .menu-button #checkbox {
          display: none; }
          body section.menu-screen .menu-button #checkbox:checked + label {
            background: #f8c255;
            border-color: #f8c255; }
            body section.menu-screen .menu-button #checkbox:checked + label span {
              background: #fff; }
              body section.menu-screen .menu-button #checkbox:checked + label span:nth-child(1) {
                transform: translateY(9px) rotate(45deg); }
              body section.menu-screen .menu-button #checkbox:checked + label span:nth-child(2) {
                opacity: 0; }
              body section.menu-screen .menu-button #checkbox:checked + label span:nth-child(3) {
                transform: translateY(-9px) rotate(-45deg); }
          body section.menu-screen .menu-button #checkbox:checked ~ .menu {
            opacity: 1; }
        body section.menu-screen .menu-button .menu {
          height: 100%;
          position: absolute;
          background: #f8c255;
          right: 100%;
          top: 0;
          opacity: 0;
          transition: 0.3s;
          display: flex;
          text-transform: uppercase;
          color: #fff;
          align-items: center; }
          @media screen and (max-width: 992px) {
            body section.menu-screen .menu-button .menu {
              flex-direction: column;
              height: unset;
              right: unset;
              left: 100%; }
              body section.menu-screen .menu-button .menu a {
                line-height: 6em; } }
          @media screen and (max-width: 576px) {
            body section.menu-screen .menu-button .menu {
              height: unset;
              right: unset;
              left: unset;
              top: 100%; } }
          body section.menu-screen .menu-button .menu a {
            padding: 0 2em; }
            body section.menu-screen .menu-button .menu a:hover {
              color: #fdeccb; }
      body section.menu-screen .address,
      body section.menu-screen .phone {
        position: absolute;
        color: #fff;
        font-size: 1em; }
      body section.menu-screen .address {
        left: 10%;
        bottom: 30%; }
      body section.menu-screen .phone {
        bottom: 10%;
        left: 30%; }
    body section.project-screen {
      background-color: #ebb240;
      text-transform: uppercase;
      color: #fff;
      position: relative; }
      body section.project-screen .projets-links {
        display: flex;
        flex-direction: column;
        align-items: start;
        position: absolute;
        left: 10%;
        top: 50%; }
      body section.project-screen h1 {
        text-transform: uppercase;
        font-size: 3em;
        position: absolute;
        top: 80%;
        right: 10%; }
    body section.menu-screen, body section.project-screen {
      background-image: linear-gradient(to bottom right, transparent calc(50% - .5px), #fff, transparent calc(50% + .5px)); }
    body section .item-screen {
      height: 50%; }
    body section.item-screen {
      background: #fff;
      display: flex;
      color: #333333;
      justify-content: space-around;
      overflow: hidden; }
      body section.item-screen .uppercase {
        text-transform: uppercase; }
      body section.item-screen img {
        align-self: center;
        transition: 0.5s; }
      body section.item-screen h1 {
        text-transform: uppercase;
        font-size: 24px;
        width: 100%; }
      body section.item-screen.grey {
        background-color: #dfe0d9; }
      body section.item-screen .text-block {
        flex-direction: column;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 5% 0 5% 10%;
        font-size: 12px; }
        body section.item-screen .text-block a {
          text-transform: uppercase;
          font-size: 16px; }
          body section.item-screen .text-block a:hover {
            color: black; }
        body section.item-screen .text-block .like {
          text-align: center;
          color: #ff0000;
          display: flex;
          flex-direction: column;
          align-items: center; }
          body section.item-screen .text-block .like div {
            background: url("../img/icons/heart.png") no-repeat;
            transition: 0.3s;
            width: 24px;
            height: 21px; }
            body section.item-screen .text-block .like div:hover {
              background: url("../img/icons/heart_r.png") no-repeat; }
      body section.item-screen:hover img {
        transform: scale(1.1); }
    @media screen and (max-width: 992px) {
      body section .text-block {
        margin: 1% !important;
        width: 50vw; }
        body section .text-block ~ img {
          width: 50vw; }
      body section.main-screen {
        min-width: 100vw; }
      body section.big-width, body section.middle-width, body section.small-width {
        max-width: 50%;
        min-height: 50vh; }
      body section.main-screen, body section.item-screen, body section.items-block {
        width: 100%; }
      body section.item-screen {
        max-width: 100vw; }
      body section.items-block {
        display: flex;
        min-width: 100vw; }
        body section.items-block .item-screen {
          max-width: 50%;
          height: 100%; } }
    @media screen and (max-width: 576px) {
      body section.big-width, body section.middle-width, body section.small-width {
        max-width: 100%; }
      body section.main-screen {
        flex-direction: column; }
      body section.main-screen {
        height: 100vh; }
      body section.items-block {
        flex-direction: column; }
        body section.items-block .item-screen {
          max-width: 100%; } }

/*# sourceMappingURL=style.css.map */
